body{
  background-color:#7E82AB;
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;   
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

svg{
  width:50%;
  height:50%;
/*   visibility:hidden; */
}
